// COLOURS

//****************CSS-VARIABLES**********************
.lightMode{
    --background: hsl(0, 0%, 98%);
    --elements: hsl(0, 0%, 100%);
    --text: hsl(200, 15%, 8%);
    --input: hsl(0, 0%, 52%);
    --spinner: rgba(0,0,0,.25);
}

.darkMode{
    --background: hsl(207, 26%, 17%);
    --elements:hsl(209, 23%, 22%);
    --text: hsl(0, 0%, 100%);
    --input: hsl(0, 0%, 52%);
    --spinner: rgba(255,255,255,.25);
}


// FONT FAMILY
$fontFamily: 'Nunito Sans', sans-serif;

//****************SASS-VARIABLES**************
// **Dark Mode**
// Dark Mode Elements
$darkBlue:hsl(209, 23%, 22%);
// Dark Mode Background
$veryDarkBlue:hsl(207, 26%, 17%);

// **Light Mode**
// Light Mode Text
$lightModeTextDarkBlue: hsl(200, 15%, 8%);
// Light Mode Input
$darkGrey: hsl(0, 0%, 52%);
// Light Mode Background
$veryLightGrey: hsl(0, 0%, 98%);

// **Both**
// (Dark Mode Text & Light Mode Elements)
$white: hsl(0, 0%, 100%);


