.countries{
    padding: 1.5rem;
    &-link-style:link,
    &-link-style:visited{
        color: black;
        text-transform: capitalize;
        text-decoration: none;
    }
    &-wrap{
        display: grid;
        width: 100%;
        max-width: 1349px;
        margin: 0 auto;
        grid-template-columns: repeat(auto-fit, minmax(290px, 290px));
        // justify-items: center;
        justify-content: center;
        gap: 3.5rem; // increase by one on 1295
    }
}
