.search-filter-container{
    width: 100%;
    max-width: 445px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem;
    gap: 40px;
    @include respon (tab){
        flex-direction: row;
        max-width: none;
        margin: auto;
        padding: 4rem 1.5rem;
    }
    @include respon (xldesk){
        max-width: 1349px;
    }
}